
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

**/.idea

# Visual Studio Code
.vscode

# User-specific files
**/__pycache__/
**/.pytest_cache/
*.egg-info/
Agones_dualzone_CS2_manager.egg-info/
.venv

# Build results
**/node_modules
*.env
